* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

.scan {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scan .hand {
    position: relative;
    width: 500px;
    height: 500px;
    background: url(hand_02.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: animate 1s linear infinite;
    
}
